{% extends 'Base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load tailwind_filters %}



{% block content %}
    <section class="bg-white dark:bg-gray-900 overflow-auto m-2">
        <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="font-medium">Click on your class to find a notetaker.</span>
        </div>
        {% include 'AlertMessages.html' %}



            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">UMass Amherst Notetakers</h1>
            <div class="relative overflow-x-auto">
                {% if filter %}
                   <form method="get">
                        <div class="grid md:grid-cols-4 md:gap-6">
                          <div class="relative z-0 w-full mb-6 group">
                            {{ filter.form.course_id|as_crispy_field }}
                          </div>
                          <div class="relative z-0 w-full mb-6 group">
                            {{ filter.form.course_name|as_crispy_field }}
                          </div>
                        <div class="relative z-0 w-full mb-6 group">
                            {{ filter.form.department|as_crispy_field }}
                          </div>
                        </div>
                        <input type="submit"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 relative z-0 w-full mb-6 group" />
                   </form>
                {% endif %}
                {% render_table table %}
            </div>
    </section>
{% endblock %}
