{% load django_tables2 %}
{% load i18n %}
{% load static %}


    <table class="w-full table-auto text-sm text-left text-gray-500 dark:text-gray-400">
        {% block table.thead %}
        {% if table.show_header %}
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                {% for column in table.columns %}
                    <th scope="col" class="px-6 py-3">
                        {% if column.orderable %}
                            <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                        {% else %}
                            {{ column.header }}
                        {% endif %}
                    </th>
                {% endfor %}
                </tr>
            </thead>
        {% endif %}
        {% endblock table.thead %}
        {% block table.tbody %}
            <tbody>
            {% for row in table.paginated_rows %}
                {% block table.tbody.row %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    {% for column, cell in row.items %}
                        <td class="px-6 py-4"{{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                    {% endfor %}
                </tr>
                {% endblock table.tbody.row %}
            {% empty %}
                {% if table.empty_text %}
                {% block table.tbody.empty_text %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"><td class="px-6 py-4" colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                {% endblock table.tbody.empty_text %}
                {% endif %}
            {% endfor %}
            </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
        {% if table.has_footer %}
        <tfoot {{ table.attrs.tfoot.as_html }}>
            <tr>
            {% for column in table.columns %}
                <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
            {% endfor %}
            </tr>
        </tfoot>
        {% endif %}
        {% endblock table.tfoot %}
    </table>


{% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
    <ul class="inline-flex items-center -space-x-px shrink">
        {% if table.page.has_previous %}
            {% block pagination.previous %}
                <li>
                  <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                  </a>
                </li>
            {% endblock pagination.previous %}
        {% endif %}
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.range %}
            {% for p in table.page|table_page_range:table.paginator %}
                <li class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" {% if p == table.page.number %} aria-current="page" {% endif %}>
                    {% if p == '...' %}
                        <a href="#">
                            {{ p }}
                        </a>
                    {% else %}
                        <a href="{% querystring table.prefixed_page_field=p %}">
                            {{ p }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endblock pagination.range %}
        {% endif %}
        {% if table.page.has_next %}
            {% block pagination.next %}
                <li>
                    <a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                        <span class="sr-only">Next</span>
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </li>
            {% endblock pagination.next %}
        {% endif %}
    </ul>
    {% endif %}
{% endblock pagination %}